<div id="dark">
<app-nav-bar></app-nav-bar>
<div id="changeClass" class="content">
    <app-header></app-header>

    <main>
        <app-main-header></app-main-header>
        <div class="content-table">
            <div class="table">
                <div class="header-table">
                <div>
                    <h3>Tabla Cursos</h3>
                </div>
                    <span></span>
                    <app-sign-in></app-sign-in>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Sede</th>
                        <th>Numero de estudiantes</th>
                        <th>Director</th>
                        <th>Modficar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of listCourse">
                            <td>{{ course.name }}</td>
                            <td>{{ course.campus }}</td>
                            <td>{{ course.numberStudents }}</td>
                            <td>{{ course.director }}</td> 
                            <td><app-modify-user></app-modify-user></td> 
                            <td><app-delete-user></app-delete-user></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</div>