<nav>
    <i class="fa-solid fa-bars" (click)="navbar()"></i>
    <form action="#">
        <div class="form-header">
            <input type="search" placeholder="Buscar...">
            <button type="submit" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
    <input type="checkbox" id="theme-togle" hidden (click)="themeTogle()">
    <label for="theme-togle" class="theme-togle"></label>
    <a href="#" class="profile">
        <img src="../../../assets/img/logo.png" width="36" height="36" alt="logo">
    </a>
</nav>