.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--red);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        background: var(--light-red);
    }
}