
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap; //Varias lineas
}

.header .left h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark);
}

.header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.header .left .breadcrumb li{
    color: var(--dark);
}

.header .left .breadcrumb li a{
    color: var(--gray);
}

.header .left .breadcrumb li a.nameuser{
    color: var(--primary);
    pointer-events: none;
}

.header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--red);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
    &:hover{
        background: var(--redPDF);
    }
}