<div class="header">
    <div class="left">
        <h1>{{ pageTitle }}</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">
                    Bienvenido
                </a>
            </li> /
            <li>
                <a class="nameuser">
                    {{ username }}
                </a>
            </li>
        </ul>
    </div>
    <a href="#" class="report">
        <i class="fa-solid fa-download"></i>
        <span>Descargar PDF</span>
    </a>
</div>
